{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}

<div class="container">

    <h2>New starship</h2>

    {% if submitted %}
    <p class="success">Starship created.</p>
    {% else %}

    <div class="row">
        <div class="col-md-12">
            <form action="" method="post" class="form" novalidate>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
                {% endbuttons %}
            </form>
        </div>
    </div>


    {% endif %}

</div>


{% endblock content %}
