{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}

<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row justify-content-md-center">
        <div class="col col-lg-4">

            {% if form.instance.id is None %}
            <h1>New starship</h1>
            {% else %}
            <h1>Edit starship</h1>
            {% endif %}

            <form action="{{ action }}" method="post" class="form" novalidate>

                {% bootstrap_form form %}

                {% csrf_token %}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>


            {% if created %}
            <div class="alert alert-success" role="alert">
                Starship created. <a href="/">Return to list</a>
            </div>

            {% elif updated %}

            <div class="alert alert-success" role="alert">
                Starship updated. <a href="/">Return to list</a>
            </div>

            {% endif %}

        </div>
    </div>
</div>

{% endblock content %}
