<div class="container">
    <div class="row mt-5 justify-content-md-center">
      <div class="col col-lg-4">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title h4">Login</h1>

            <form (ngSubmit)="onSubmit()" #signInForm="ngForm">
              <!-- #signInForm creates an alias -->

              <div class="form-group">
                <label for="login" class="form-label">Login</label>
                <input type="text" class="form-control" id="login" required [(ngModel)]="model.username" name="login"
                  #login="ngModel">
                <div [hidden]="login.valid || login.pristine" class="alert alert-danger">
                  Login is required
                </div>
              </div>

              <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="text" class="form-control" id="password" required [(ngModel)]="model.password" name="password"
                  #password="ngModel">
                <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                  Password is required
                </div>
              </div>

              <div class="form-actions">
                <button type="submit" class="btn btn-success" [disabled]="!signInForm.form.valid">Sign in</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
