{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}

<div class="container">

    <h1 class="h3">Login</h1>

    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'login' %}" method="post" class="form" novalidate>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">Login</button>
                {% endbuttons %}
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
    </div>

    <p><a href="{% url 'register' %}">Register here</a></p>

</div>


{% endblock content %}
