{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}

<div class="container">
    <div class="row mt-5 justify-content-md-center">
        <div class="col col-lg-4">

            <h1>Register</h1>

            <div class="row">
                <div class="col-md-12">
                    <form action="" method="post" class="form" novalidate>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary">Login</button>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
