// Default variable overrides (see ../node_modules/bootstrap/scss/variables)

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$body-bg: $gray-900; // gray-900
$body-color: $gray-300; // gray-300
$card-bg: $gray-900; // gray-900
$card-border-color: $gray-600; // gray-600

// bootrap imports
@import "../node_modules/bootstrap/scss/bootstrap";

// custom css

.navbar {
  background-color: $gray-800;
}

.form-group,
.form-actions {
  margin-top: 1rem;
}

.form-actions {
  text-align: center;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid $success;
}

.ng-dirty.ng-invalid:not(form) {
  border-left: 5px solid $danger;
}
