<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}

    <style>
        th {
            border-bottom: 1px black solid;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Starships</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item"><a class="nav-link {% if nav_active == 'list' %} active {% endif %}" href="/">List</a>
            </li>
            <li class="nav-item"><a class="nav-link {% if nav_active == 'new' %} active {% endif %}"
                                    href="/add-starship">New</a></li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock content %}
</body>
</html>